<ion-view view-title="e-Bayar">
	<ion-content class="padding">
		<h3 class="text-center">Log Masuk</h3>
		<br>
		<form>
			<div class="list">
				<label class="item item-input">
					<input type="text" placeholder="Emel"/>
				</label>
				<label class="item item-input">
					<input type="text" placeholder="Katalaluan"/>
				</label>
			</div>
			<div>
				<button type="submit" class="button button2 button-block">Log Masuk</button>
			</div>
		</form>
		<a href="#">Lupa Katalaluan?</a>
	</ion-content>

</ion-view>